ENVIRONMENT=dev


# ==========
# Infra
# ==========

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=chrima

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
# REDIS_DB=0

# Kafka
# KAFKA_HOST=localhost
# KAFKA_PORT=9092
KAKFA_TRANSACTION_EVENTS_TOPIC=transaction-events
KAKFA_PRICE_EVENTS_TOPIC=price-events
KAKFA_PRODUCT_EVENTS_TOPIC=product-events
KAKFA_SUBSCRIPTION_EVENTS_TOPIC=subscription-events


# ==========
# Observability
# ==========

# Loki (app sends logs directly via LokiLogHandler)
# LOKI_BASE_URL=http://localhost:4100
# LOKI_SERVICE_NAME=uvicorn
# LOKI_TIMEOUT=5.0

# Grafana
# GF_SECURITY_ADMIN_USER=admin
# GF_SECURITY_ADMIN_PASSWORD=admin


# ==========
# Server
# ==========

# LOGO_URL=https://pub-11cf41b8c2ec49c2bfbcc1183a3cb4c8.r2.dev/images.jfif


# ==========
# Security
# ==========

# JWT
# COOKIE_ALIAS=chrima-cookie
# JWT_ALGO=HS256
# JWT_SECRET=your_jwt_secret_key
# JWT_EXPIRY_SECS=100000000

# Encryption
# ENCRYPTION_KEY=your_encryption_key
# ENCRYPTION_IV_LEN=12


# ==========
# Third Party
# ==========

# Web3 (Ethereum)
RPC_API_KEY=your_rpc_api_key
RPC_URL_PREFIX=https://sepolia-rollup.arbitrum.io/rpc
CHRIMA_PAYMENT_CONTRACT_ADDRESS=0x_your_contract_address
SIGNER_PRIVATE_KEY=0x_your_private_key

# Discord
DISCORD_BOT_TOKEN=your_discord_bot_token
DISCORD_CLIENT_ID=your_discord_client_id
DISCORD_CLIENT_SECRET=your_discord_client_secret
# DISCORD_REDIRECT_URI=http://localhost:8000/auth/discord/oauth/callback

# Email (Brevo)
# BREVO_SENDER_NAME=Chrima
# BREVO_SENDER_EMAIL=no-reply@yourdomain.com
# BREVO_API_KEY=xkeysib-xxxx

# Billing
# BILLING_PROVIDER=stripe
# STRIPE_API_KEY=sk_test_xxx
# STRIPE_WEBHOOK_SECRET=whsec_xxx
# BILLING_SUCCESS_URL=http://localhost:3001/billing/success
# BILLING_CANCEL_URL=http://localhost:3001/billing/cancel
# KAKFA_BILLING_EVENTS_TOPIC=billing-events
