# Python
.venv
__pycache__
alembic.ini

# Pytest
.pytest_cache

# JS
node_modules

# Smart Contract
**/contract/artifacts
**/contract/cache

# Private
.env
.env.dev
.env.prod
.env.test
rec.py

# Misc
misc
